<h3>Selector de colores:</h3>
<input type="text" [(ngModel)]="color"/>
<h3>Colores Switch</h3>
<ul [ngSwitch]="color" 
[style.border] = "color == 'red' ? '2px solid black' : '1px solid white' "
[class.fondoAzul] = "color == 'blue'"
>
  <!--Al ser un dato de tipo string va entre '' -->
  <li *ngSwitchCase="'red'"  [ngStyle]="{'background': color, 'color': 'white', 'padding': '20px' }" > Es de color rojo</li>

  <li *ngSwitchCase="'green'"  [ngStyle]="{'background': color, 'color': 'white', 'padding': '20px' }" > Es de color verde</li>

  <li *ngSwitchCase="'blue'"  [ngStyle]="{'background': color, 'color': 'white', 'padding': '20px' }" > Es de color azul</li>

  <li *ngSwitchCase="'pink'"  [ngStyle]="{'background': color, 'color': 'white', 'padding': '20px' }" > Es de color rosa</li>

  <li *ngSwitchCase="'yellow'"  [ngStyle]="{'background': color, 'color': 'white', 'padding': '20px' }" > Es de color amarillo</li>

  <li *ngSwitchCase="'gray'"  [ngStyle]="{'background': color, 'color': 'white', 'padding': '20px' }" > Es de color gris</li>

  <li *ngSwitchCase="'cyan'"  [ngStyle]="{'background': color, 'color': 'white', 'padding': '20px' }" > Es de color turquesa</li>

 <li *ngSwitchCase="'orange'"  [ngStyle]="{'background': color, 'color': 'white', 'padding': '20px' }" > Es de color naranja</li>
  
 <li *ngSwitchCase="'brown'"  [ngStyle]="{'background': color, 'color': 'white', 'padding': '20px' }" > Es de color cafe</li>

 <li *ngSwitchCase="'violet'"  [ngStyle]="{'background': color, 'color': 'white', 'padding': '20px' }" > Es de color violeta</li>

 <li *ngSwitchCase="'chocolate'"  [ngStyle]="{'background': color, 'color': 'white', 'padding': '20px' }" > Es de color chocolate</li>

<li *ngSwitchCase="'purple'"  [ngStyle]="{'background': color, 'color': 'white', 'padding': '20px' }" > Es de color morado</li>

 <li *ngSwitchDefault [ngClass]="['defaultFondo', 'defaultLetra']" > No hay color seleccionado</li>

</ul>
