<h3>Curso de Introducción a Angular 4 y 5.</h3>
<hr />
<nav>
  <a [routerLink]="['/home']" [routerLinkActive]="['mnuActivado']" >Home</a>
  <a [routerLink]="['/fruta']" [routerLinkActive]="['mnuActivado']" >Fruta</a>
  <a [routerLink]="['/empleado']" [routerLinkActive]="['mnuActivado']" >Empleado</a>
  <a [routerLink]="['/contacto']" [routerLinkActive]="['mnuActivado']">Contacto</a>
  <a [routerLink]="['/color']" [routerLinkActive]="['mnuActivado']">Colores</a>
  <a [routerLink]="['/calculator']" [routerLinkActive]="['mnuActivado']">Calculator</a>
  <a [routerLink]="['/coches']" [routerLinkActive]="['mnuActivado']">Coches</a>
</nav>
<hr />
<!--<fruta-sec></fruta-sec>-->
<!--<empleado-tag></empleado-tag>-->
<!--<videojuegos></videojuegos>-->
<router-outlet></router-outlet>

