/* Add application styles & imports to this file! */
.fondoAzul{
  background: lightblue;
}

.defaultFondo{
  background: #DCCCCC;
  padding: 25px;
}

.defaultLetra{
  color:black;
  font-size: 14px;
  font-style: italic;
}

a{
  color: blue;
  font-style: initial;
  font-stretch: semi-expanded;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  padding: 7px;
  border: 1px;
  border-style: solid;
  margin: 9px;
  
}